<h1>Activate</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-info">
                You must activate account before login (activation token was sended via e-mail)
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Activate</div>
                <div class="panel-body">
                    <div class="alert alert-warning" ng-if="wrongCredentials">
                        Wrong authentication credentials
                    </div>
                    <div class="alert alert-warning" ng-if="wrongPassword">
                        Wrong password
                    </div>
                    <div class="alert alert-warning" ng-if="wrongToken">
                        Wrong token
                    </div>
                    <div class="alert alert-danger" ng-if="noUser">
                        User does not exist
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <label>User:</label>
                            <input type="text" class="form-control" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" ng-model="password">
                        </div>
                        <div class="form-group">
                            <label>Activation token (from e-mail):</label>
                            <input type="password" class="form-control" ng-model="token">
                        </div>
                        <button class="btn btn-lg btn-primary pull-right btn-block" type="button" ng-click="activate()">Activate</button>
                        <a class="pull-right" ng-click="resendToken()">Resend activation token</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>