<h1>clients:</h1>
<div class="alert alert-danger" ng-if="!clients.length">
    <span>You don't have any clients.</span>
</div>
<table st-table="invoices" class="table table-stripped" ng-if="clients.length">
    <thead>
    <tr>
        <th>Name</th>
        <th>NIP</th>
        <th>Address</th>
        <th>Phone</th>
        <th>E-mail</th>
        <th>Website</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="client in clients" style="cursor:pointer">
        <td>
            {{client.name}}
        </td>
        <td>
            {{client.nip}}
        </td>
        <td>
            {{client.street}}, {{client.postalCode}} {{client.city}}
        </td>
        <td>
            {{client.phone}}
        </td>
        <td>
            {{client.email}}
        </td>
        <td>
            {{client.website}}
        </td>
        <td>
            <div ng-if="!client.description">
                <span class="label label-danger">None</span>
            </div>
            <div ng-if="client.description">
                <a ng-show="!showDescription" ng-click="showDescription = !showDescription">Show</a>
                <div style="white-space: pre-wrap; border: 1px groove" ng-show="showDescription" style="white-space:pre-wrap;">{{client.description}}</div>
                <a ng-show="showDescription" ng-click="showDescription = !showDescription">Hide</a>
            </div>
        </td>
        <td>
            <button class="btn btn-xs btn-primary" ui-sref="invoices({client_nip: client.nip, client_name: client.name})">Show invoices</button>
        </td>
    </tr>
    </tbody>
</table>