<h1>Company config</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-warning" ng-if="redirectReason == 'inactive'">
                You must provide yours company data before proceeding to system
            </div>
            <div class="alert alert-success" ng-if="successUpdate">
                Successfully saved company data
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Company settings</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.name}">
                                <label>Name:</label>
                                <input type="text" class="form-control" ng-model="company.name" title="{{validationData.name}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.name" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.nip}">
                                <label>Nip:</label>
                                <input type="text" class="form-control" ng-model="company.nip" title="{{validationData.nip}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.nip" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.address}">
                                <label>Address:</label>
                                <input type="text" class="form-control" ng-model="company.address" title="{{validationData.address}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.address" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.city}">
                                <label>City:</label>
                                <input type="text" class="form-control" ng-model="company.city" title="{{validationData.city}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.city" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.postalCode}">
                                <label>PostalCode:</label>
                                <input type="text" class="form-control" ng-model="company.postalCode" title="{{validationData.postalCode}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.postalCode" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.phone}">
                                <label>Phone:</label>
                                <input type="text" class="form-control" ng-model="company.phone" title="{{validationData.phone}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.phone" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.email}">
                                <label>Email:</label>
                                <input type="text" class="form-control" ng-model="company.email" title="{{validationData.email}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.email" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary pull-right btn-block" type="button" ng-click="update()">Update data</button>
                </div>
            </div>
        </div>
    </div>
</div>