<h1>invoices<span ng-if="invoicesClient"> of client '{{invoicesClient.name}}' (nip: '{{invoicesClient.nip}}')</span>:</h1>
<div class="alert alert-danger" ng-if="!invoices.length">
    <span>You don't have any invoices.</span>
</div>
<button type="button" class="btn btn-sm btn-primary" ng-click="addInvoice" ui-sref="invoiceDetail({invoiceId: 'new'})">Add</button>
<table st-table="invoices" class="table table-stripped" ng-if="invoices.length">
    <thead>
        <tr>
            <th>Number</th>
            <th>Issue date</th>
            <th>Issue city</th>
            <th>Sale date</th>
            <th>Payoff date</th>
            <th>amount</th>
            <th>paid</th>
            <th>Payment form</th>
            <th>Items</th>
            <th>Payments</th>
            <th>Client</th>
            <th>Seller</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="invoice in invoices" ui-sref="invoiceDetail({invoiceId: invoice.id})" style="cursor:pointer">
            <td>
                {{invoice.number}}
            </td>
            <td>
                {{invoice.issueDate}}
            </td>
            <td>
                {{invoice.issueCity}}
            </td>
            <td>
                {{invoice.saleDate}}
            </td>
            <td>
                {{invoice.payoffDate}}
            </td>
            <td>
                {{invoice.amount}}
            </td>
            <td>
                {{invoice.paidAmount}}
            </td>
            <td>
                {{invoice.paymentForm}}
            </td>
            <td>
                {{invoice.items.length}}
            </td>
            <td>
                {{invoice.payments.length}}
            </td>
            <td>
                {{invoice.client.name}} (nip: {{invoice.client.nip}})
            </td>
            <td>
                {{invoice.seller.name}}
            </td>
        </tr>
    </tbody>
</table>
<button ng-if="invoices.length" type="button" class="btn btn-sm btn-primary" ng-click="addInvoice" ui-sref="invoiceDetail({invoiceId: 'new'})">Add</button>