<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h5 ng-if="!newInvoice" class="pull-left">Invoice '{{invoice.number}}' data</h5>
        <h5 ng-if="newInvoice" class="pull-left">Add new invoice</h5>
        <div class="btn-group pull-right">
            <button ng-show="!editMode" ng-click="startEdit()" class="btn btn-warning">Edit</button>
            <button ng-show="editMode" class="btn btn-primary" ng-click="saveInvoice(); editMode = false">Save</button>
            <button ng-show="editMode && !newInvoice" class="btn btn-warning" ng-click="cancelEdit()">Cancel</button>
            <button ng-show="!newInvoice" class="btn btn-danger" ng-click="deleteInvoice()">Delete</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group  col-xs-4" ng-class="{'has-error has-feedback' : validationData.number}">
                <label>Number:</label>
                <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.number" title="{{validationData.number}}" data-toggle="tooltip" data-placement="bottom">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData.issueDate}">
                <label class="control-label">issueDate:</label>
                <p class="input-group">
                    <input is-open="issueDateOpened" uib-datepicker-popup="" ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.issueDate" title="{{validationData.issueDate}}" data-toggle="tooltip" data-placement="bottom">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="issueDateOpened=!issueDateOpened" ng-disabled="!editMode"><i class="glyphicon glyphicon-calendar" ></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData.issueCity}">
                <label class="control-label">issueCity:</label>
                <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.issueCity" title="{{validationData.issueCity}}" data-toggle="tooltip" data-placement="bottom">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData.saleDate}">
                <label class="control-label">saleDate:</label>
                <p class="input-group">
                    <input is-open="saleDateOpened" uib-datepicker-popup="" ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.saleDate" title="{{validationData.saleDate}}" data-toggle="tooltip" data-placement="bottom">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="saleDateOpened=!saleDateOpened" ng-disabled="!editMode"><i class="glyphicon glyphicon-calendar" ></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData.payoffDate}">
                <label class="control-label">payoffDate:</label>
                <p class="input-group">
                    <input is-open="payoffDateOpened" uib-datepicker-popup="" ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.payoffDate" title="{{validationData.payoffDate}}" data-toggle="tooltip" data-placement="bottom">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="payoffDateOpened=!payoffDateOpened" ng-disabled="!editMode"><i class="glyphicon glyphicon-calendar" ></i></button>
                    </span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-4">
                <label class="control-label">amount:</label><input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.amount" disabled readonly>
            </div>
            <div class="form-group col-xs-4">
                <label class="control-label">paidAmount:</label><input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.paidAmount" disabled readonly>
            </div>
            <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData.paymentForm}">
                <label class="control-label">paymentForm:</label>
                <select ng-model="invoice.paymentForm" class="form-control" ng-disabled="!editMode" title="{{validationData.paymentForm}}" data-toggle="tooltip" data-placement="bottom">
                    <option value="TRANSFER">Bank transfer</option>
                    <option value="CARD">Credit card</option>
                    <option value="CASH">Cash</option>
                </select>
            </div>
        </div>


        <div class="panel panel-default" ng-class="{'panel-danger' : validationData.client}">
            <div class="panel-heading">Client <span ng-if="validationData.client" class="label label-warning">{{validationData.client}}</span></div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['client.name']}">
                        <label class="control-label">Name:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.name" title="{{validationData['client.name']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['client.nip']}">
                        <label class="control-label">nip:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.nip" title="{{validationData['client.nip']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['client.street']}">
                        <label class="control-label">Street:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.street" title="{{validationData['client.street']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['client.postalCode']}">
                        <label class="control-label">PostalCode:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.postalCode" title="{{validationData['client.postalCode']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['client.city']}">
                        <label class="control-label">City:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.city" title="{{validationData['client.city']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['client.website']}">
                        <label class="control-label">Website:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.website" title="{{validationData['client.website']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData['client.phone']}">
                        <label class="control-label">Phone:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.phone" title="{{validationData['client.phone']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData['client.email']}">
                        <label class="control-label">Email:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.client.email" title="{{validationData['client.email']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-8"  ng-class="{'has-error has-feedback' : validationData['client.description']}">
                        <label class="control-label">Description:</label>
                        <textarea ng-disabled="!editMode" ng-model="invoice.client.description" class="form-control" rows="5" placeholder="Description..."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-class="{'panel-danger' : validationData.seller}">
            <div class="panel-heading">seller <span ng-if="validationData.seller" class="label label-warning">{{validationData.seller}}</span></div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['seller.name']}">
                        <label class="control-label">Name:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.name" title="{{validationData['seller.name']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['seller.nip']}">
                        <label class="control-label">nip:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.nip" title="{{validationData['seller.nip']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['seller.street']}">
                        <label class="control-label">Street:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.street" title="{{validationData['seller.street']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['seller.postalCode']}">
                        <label class="control-label">PostalCode:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.postalCode" title="{{validationData['seller.postalCode']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['seller.city']}">
                        <label class="control-label">City:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.city" title="{{validationData['seller.city']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4" ng-class="{'has-error has-feedback' : validationData['seller.website']}">
                        <label class="control-label">Website:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.website" title="{{validationData['seller.website']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData['seller.phone']}">
                        <label class="control-label">Phone:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.phone" title="{{validationData['seller.phone']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                    <div class="form-group col-xs-4"  ng-class="{'has-error has-feedback' : validationData['seller.email']}">
                        <label class="control-label">Email:</label>
                        <input ng-disabled="!editMode" type="text" class="form-control" ng-model="invoice.seller.email" title="{{validationData['seller.email']}}" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-8"  ng-class="{'has-error has-feedback' : validationData['seller.description']}">
                        <label class="control-label">Description:</label>
                        <textarea ng-disabled="!editMode" ng-model="invoice.seller.description" class="form-control" rows="5" placeholder="Description..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-class="{'panel-danger' : validationData.items}">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    Items <span ng-if="!invoice.items.length" class="label label-danger">None</span>
                </div>
                <div class="pull-right">
                    <button ng-show="editMode" class="btn btn-primary" ng-click="addNewItem()">Add new</button>
                </div>
            </div>
            <div class="panel-body" ng-if="invoice.items.length">
                <table ng-if="invoice.items.length" st-table="invoice.items" class="table table-stripped">
                    <thead>
                        <tr>
                            <th ng-class="{'has-error has-feedback' : validationData['items[].name']}" title="{{validationData['items[].name']}}" data-toggle="tooltip" data-placement="bottom">Name</th>
                            <th ng-class="{'has-error has-feedback' : validationData['items[].quantity']}" title="{{validationData['items[].quantity']}}" data-toggle="tooltip" data-placement="bottom">Quantity</th>
                            <th ng-class="{'has-error has-feedback' : validationData['items[].unit']}" title="{{validationData['items[].unit']}}" data-toggle="tooltip" data-placement="bottom">Unit</th>
                            <th ng-class="{'has-error has-feedback' : validationData['items[].priceNet']}" title="{{validationData['items[].priceNet']}}" data-toggle="tooltip" data-placement="bottom">Price Net</th>
                            <th ng-class="{'has-error has-feedback' : validationData['items[].vat']}" title="{{validationData['items[].vat']}}" data-toggle="tooltip" data-placement="bottom">VAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in invoice.items">
                            <td><input class="form-control" ng-disabled="!editMode" ng-model="item.name"></td>
                            <td><input class="form-control" ng-disabled="!editMode" ng-model="item.quantity"></td>
                            <td><input class="form-control" ng-disabled="!editMode" ng-model="item.unit"></td>
                            <td><input class="form-control" ng-disabled="!editMode" ng-model="item.priceNet" ng-change="validateMoney(item, 'priceNet');refreshInvoiceAmounts()"></td>
                            <td><input class="form-control" ng-disabled="!editMode" ng-model="item.vat" ng-change="validateVat(item, 'vat');refreshInvoiceAmounts()"></td>
                            <td>
                                <button ng-show="editMode" class="btn btn-danger" ng-click="removeItem(item)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default" ng-class="{'panel-danger' : validationData.payments}">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    Payments <span ng-if="!invoice.payments.length" class="label label-danger">None</span>
                </div>
                <div class="pull-right">
                    <button ng-show="editMode" class="btn btn-primary" ng-click="addNewPayment()">Add new</button>
                </div>
            </div>
            <div class="panel-body" ng-if="invoice.payments.length">
                <table st-table="invoice.payments" class="table table-stripped">
                    <thead>
                    <tr>
                        <th ng-class="{'has-error has-feedback' : validationData['payments[].description']}" title="{{validationData['payments[].description']}}" data-toggle="tooltip" data-placement="bottom">description</th>
                        <th ng-class="{'has-error has-feedback' : validationData['payments[].amount']}" title="{{validationData['payments[].amount']}}" data-toggle="tooltip" data-placement="bottom">amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="invoice.payments" ng-repeat="payment in invoice.payments">
                        <td><input type="text" class="form-control" ng-disabled="!editMode" ng-model="payment.description" placeholder="Descrption"></td>
                        <td><input type="number" step="0.01" class="form-control" ng-disabled="!editMode" ng-model="payment.amount" placeholder="Amount" ng-change="validateMoney(payment, 'amount');refreshInvoiceAmounts();"></td>
                        <td>
                            <button ng-show="editMode" class="btn btn-danger" ng-click="removePayment(payment)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $('.validate-money').on('change', function(e) {
            alert('a');
        });
    });
</script>