<h1>Login</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-danger" ng-if="redirectReason == 'unauthorized'">
                You must first log in into system!
            </div>
            <div class="alert alert-info" ng-if="redirectReason == 'logout'">
                You have been successfully logged out
            </div>
            <div class="alert alert-info" ng-if="redirectReason == 'activated'">
                You account has been activated
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">You must log in to system</div>
                <div class="panel-body">
                    <div class="alert alert-warning" ng-if="wrongCredentials">
                        Wrong authentication credentials
                    </div>
                    <div class="alert alert-warning" ng-if="unauthorized">
                        Wrong password
                    </div>
                    <div class="alert alert-danger" ng-if="noUser">
                        User does not exist
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <label for="pwd">User:</label>
                            <input type="text" class="form-control" id="pwd" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" ng-model="password">
                        </div>
                        <button class="btn btn-lg btn-primary pull-right btn-block" type="button" ng-click="login()">Sign in</button>
                        <span class="alert-link">Don't have an account? <a ui-sref="register">Click here to register</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>