<h1>Register</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-if="userAlreadyExists">
                        User already exists
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group" ng-class="{'has-error has-feedback' : validationData.name}">
                            <label>User:</label>
                            <input type="text" class="form-control" ng-model="name" title="{{validationData.name}}" data-toggle="tooltip" data-placement="bottom">
                            <span ng-if="validationData.name" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback' : validationData.email}">
                            <label>Email:</label>
                            <input type="text" class="form-control" ng-model="email" title="{{validationData.email}}" data-toggle="tooltip" data-placement="bottom">
                            <span ng-if="validationData.email" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback' : validationData.password}">
                            <label>Password:</label>
                            <input type="password" class="form-control" ng-model="password" title="{{validationData.password}}" data-toggle="tooltip" data-placement="bottom">
                            <span ng-if="validationData.password" class="glyphicon glyphicon-remove form-control-feedback"></span>

                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback' : passwordsNoMatch}">
                            <label>Password confirm:</label>
                            <input type="password" class="form-control" ng-model="passwordConfirm" title="{{passwordsNoMatch ? 'Passwords doesn\'t match' : ''}}" data-toggle="tooltip" data-placement="bottom">
                            <span ng-if="passwordConfirm" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <button class="btn btn-lg btn-primary pull-right btn-block" type="button" ng-click="register()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>