<h1>Reports</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-info">
                System is connected to external system, which allows you to burst reports which will be sent periodically.
            </div>
            <div class="alert alert-success" ng-if="successUpdate">
                Successfully saved company data
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Reports settings</div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <div class="row">
                            This report periodically sends summary about new invoices
                        </div>
                        <div class="row"><br /><br />
                            <form ng-submit="applyReportSummary()">
                                <div class="form-group col-sm-4">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Frequency</label><br/>
                                    <select ng-disabled="gotSummary" class="form-control" ng-model="reportSummary.params.frequency" ng-init="reportSummary.params.frequency='DAILY'">
                                        <option value="DAILY">Daily</option>
                                        <option value="WEEKLY">Weekly</option>
                                        <option value="MONTHLY">Monthly</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>&nbsp</label><br/>
                                    <button ng-if="!gotSummary" type="submit" class="btn btn-primary btn-block">Apply</button>
                                    <button ng-if="gotSummary" type="button" class="btn btn-danger btn-block" ng-click="deleteReportSummary()">Remove</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="alert alert-info">
                        <div class="row">
                            This report periodically sends reminders to clients about each overdue invoice
                        </div>
                        <div class="row">
                            <form ng-submit="applyReportRemindOverdue()">
                                <div class="form-group col-sm-4">
                                    <label>Overdue days</label><br/>
                                    <input ng-disabled="gotRemindOverdue" type="number" required="true" class="form-control" ng-model="reportRemindOverdue.params.overdue_days">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Frequency</label><br/>
                                    <select ng-disabled="gotRemindOverdue" class="form-control" ng-model="reportRemindOverdue.params.frequency" ng-init="reportRemindOverdue.params.frequency='DAILY'">
                                        <option value="DAILY">Daily</option>
                                        <option value="WEEKLY">Weekly</option>
                                        <option value="MONTHLY">Monthly</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>&nbsp</label><br/>
                                    <button ng-if="!gotRemindOverdue" type="submit" class="btn btn-primary btn-block">Apply</button>
                                    <button ng-if="gotRemindOverdue" type="button" class="btn btn-danger btn-block" ng-click="deleteReportRemindOverdue()">Remove</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>