<h1>Company config</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="alert alert-success" ng-if="successUpdate">
                Successfully saved user data
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">User settings</div>
                <div class="panel-body">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" ng-model="user.name" title="{{validationData.name}}" data-toggle="tooltip" data-placement="bottom" readonly>
                            </div>
                            <div class="form-group" ng-class="{'has-error has-feedback' : validationData.email}">
                                <label>E-mail:</label>
                                <input type="text" class="form-control" ng-model="user.email" title="{{validationData.email}}" data-toggle="tooltip" data-placement="bottom">
                                <span ng-if="validationData.email" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <small><strong>Note:</strong> after email change, you will be redirected to email confirmation page</small>
                            </div>
                    <a ng-show="!passwordChange" ng-click="passwordChange = true">Change password</a>
                            <div id="passwordChange" ng-show="passwordChange">
                                <div class="form-group" ng-class="{'has-error has-feedback' : validationData.password}">
                                    <label>Password:</label>
                                    <input type="text" class="form-control" ng-model="user.password" title="{{validationData.password}}" data-toggle="tooltip" data-placement="bottom">
                                    <span ng-if="validationData.password" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <div class="form-group" ng-class="{'has-error has-feedback' : passwordsNoMatch}">
                                    <label>Password confirm:</label>
                                    <input type="password" class="form-control" ng-model="passwordConfirm" title="{{passwordsNoMatch ? 'Passwords doesn\'t match' : ''}}" data-toggle="tooltip" data-placement="bottom">
                                    <span ng-if="passwordConfirm" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                    <button class="btn btn-lg btn-primary pull-right btn-block" type="button" ng-click="updateUser()">Update data</button>
                </div>
            </div>
        </div>
    </div>
</div>